.h-400{
  min-height: 400px;
}
.h-200{
  min-height: 200px;
}
mat-card{
  min-height: 100%;
}
body{
  background-color: #af8eed;
}
.row{
  margin-top: 30px;
}
.my-container{
  margin-left:1%;
  margin-right:1%;
}
