/*input{
  border-radius: 20px;
}*/
/*
/deep/.mat-form-field-underline{
  color:white!important;
  border-color: white!important;
  background-color: white!important;
  height:2px!important;
}
/deep/.mat-form-field-label{
  color:white!important;
}
input:visited, /deep/ .mat-form-field-label{
  color:#FF4081!important;
}
*/
input{
  background-color: transparent;
  border:none;
  caret-color: white;
  color:white;
  width:20%;
  border-bottom: solid;
  border-width:2px;
  border-color: white;
  -webkit-transition: width 2s;
}
textarea:focus, input:focus{
  outline: none;
}
::placeholder{
  color: white;
}
.empty-input{
  width:20%;
}
.not-empty-input{
  width:100%;
}
