/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background: #e1e2e1;
}
.primary-color{
  color: #3F51B5;
}
.primary-color-background{
  background-color: #3F51B5;
}
.accent-color-background{
  background-color: #ff4081;
}
