
<div  (mouseover)="hover=true" (mouseleave)="hover=false" class="row my-item" [ngStyle]="{backgroundColor: hover==true  ? '#E1E2E1' : 'white' }">
  <div  class="col-lg-4">
    <img class="img-fluid" style="object-fit: cover; height: 100px;width:100%;"src="{{ itemObject.mainPic }}">
  </div>
  <div class="col-lg-6">
    <p class="primary-color name">{{itemObject.name}}</p>
    <p>{{itemObject.description}}</p>
    <p class="mBlack">Current Location:</p>
    <p>{{itemObject.currentLocation}}</p>
  </div>
  <div style="min-height: 100%;" class="col-lg-2 wrapper">
    <mat-icon color="accent" style=" vertical-align: middle;" class="zoom">my_location</mat-icon>
  </div>
</div>

<hr>
